img.banner {width:  50%;} 

.active_license{
    content: '';
    display: block;
    width: 3px;
    height: 6px;
    border: solid #00D604;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
 .notactive_license{
	color: #ff0000;
  }